# PORTA DA API
API_PORT=5000

# AMBIENTE DE EXECUÇÃO
ENVIRONMENT=development

# URL AUTORIZADA PARA ACESSAR A API
URL_AUTORIZADA_CORS='*'

# JWT
JWT_SECRET=1234567890


API_URL_CLASSIFICACAO_PYTHON=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=classificador